*{/*o asterisco é o seletor*/
    margin: 0;
    padding: 0;
}

html, body
{
    height: 100%;
}

ul
{
    list-style-position: inside;
}

ul li :nth-of-type(1)
{
    color:rgb(57, 57, 134);
}

ul li :nth-child(3)
{
    color:purple;
}

ul li :last-of-type
{
    color: blue;
}

ul li :last-child
{
    color: aquamarine;
}